[submodule "submodules/no-littering"]
	path = submodules/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "submodules/image-slicing"]
	path = submodules/image-slicing
	url = git@github.com:ginqi7/image-slicing.git
[submodule "submodules/eglot-booster"]
	path = submodules/eglot-booster
	url = git@github.com:jdtsmith/eglot-booster.git
[submodule "el2markdown"]
	path = submodules/el2markdown
	url = git@github.com:Lindydancer/el2markdown.git
[submodule "submodules/el2markdown-fork"]
	path = submodules/el2markdown-fork
	url = git@github.com:lispcat/el2markdown-fork.git
